---
title: "üé¨ SakilaQuery"
title-block-banner: true
author: "Amal REKIK"
categories: ["SQL", "Python"]
description: "Analyse de la base de donn√©es cin√©matographique Sakila √† travers des requ√™tes SQL avanc√©es et une exploration visuelle."
date: 2025-04-20
date-format: DD/MM/YYYY
image: sakilaquery/imgs/sakila_Query.png
highlight-style: pygments
filters: 
        - include-code-files
---

In [ ]:
from itables import init_notebook_mode
from pathlib import Path
import polars as pl
import sqlite3

# üîß Initialisation interactive pour affichage dynamique
init_notebook_mode(all_interactive=True)

# üõ¢Ô∏è Connexion √† la base Sakila
conn = sqlite3.connect("sakila.db")

In [ ]:
# | code-fold: true
# | code-summary: "Fonction pour ex√©cuter une requ√™te SQL"
def table_query_results(query_file: str, conn: sqlite3.Connection):
    """
    Ex√©cute une requ√™te SQL √† partir d‚Äôun fichier et retourne les r√©sultats sous forme de tableau Polars.

    Args:
        query_file (str): Chemin vers le fichier contenant la requ√™te SQL.
        conn (sqlite3.Connection): Connexion active √† la base de donn√©es SQLite.

    Returns:
        pl.DataFrame: R√©sultats de la requ√™te sous forme de tableau.
    """
    query_path = Path(query_file)
    with query_path.open("r", encoding="utf-8") as file:
        query = file.read()

    results = conn.execute(query)
    column_names = [col[0] for col in results.description]
    dataframe = pl.DataFrame(results.fetchall(), schema=column_names)

    return dataframe

##ERD


```{mermaid}
erDiagram

    ACTOR {
        INT actor_id PK
        VARCHAR first_name
        VARCHAR last_name
        TIMESTAMP last_update
    }

    ADDRESS {
        INT address_id PK
        VARCHAR address
        VARCHAR address2
        VARCHAR district
        INT city_id
        VARCHAR postal_code
        VARCHAR phone
        TIMESTAMP last_update
    }

    CATEGORY {
        INT category_id PK
        VARCHAR name
        TIMESTAMP last_update
    }

    CITY {
        INT city_id PK
        VARCHAR city
        INT country_id
        TIMESTAMP last_update
    }

    COUNTRY {
        INT country_id PK
        VARCHAR country
        TIMESTAMP last_update
    }

    CUSTOMER {
        INT customer_id PK
        INT store_id
        VARCHAR first_name
        VARCHAR last_name
        VARCHAR email
        INT address_id
        BOOLEAN active
        DATETIME create_date
        TIMESTAMP last_update
    }

    FILM {
        INT film_id PK
        VARCHAR title
        VARCHAR description
        INT release_year
        INT language_id
        INT original_language_id
        INT rental_duration
        DECIMAL rental_rate
        INT length
        DECIMAL replacement_cost
        VARCHAR rating
        VARCHAR special_features
        TIMESTAMP last_update
    }

    FILM_ACTOR {
        INT actor_id PK
        INT film_id PK
        TIMESTAMP last_update
    }

    FILM_CATEGORY {
        INT film_id PK
        INT category_id PK
        TIMESTAMP last_update
    }

    INVENTORY {
        INT inventory_id PK
        INT film_id
        INT store_id
        TIMESTAMP last_update
    }

    LANGUAGE {
        INT language_id PK
        CHAR name
        TIMESTAMP last_update
    }

    PAYMENT {
        INT payment_id PK
        INT customer_id
        INT staff_id
        INT rental_id
        DECIMAL amount
        DATETIME payment_date
        TIMESTAMP last_update
    }

    RENTAL {
        INT rental_id PK
        DATETIME rental_date
        INT inventory_id
        INT customer_id
        DATETIME return_date
        INT staff_id
        TIMESTAMP last_update
    }

    STAFF {
        INT staff_id PK
        VARCHAR first_name
        VARCHAR last_name
        INT address_id
        BLOB picture
        VARCHAR email
        INT store_id
        BOOLEAN active
        VARCHAR username
        VARCHAR password
        TIMESTAMP last_update
    }

    STORE {
        INT store_id PK
        INT manager_staff_id
        INT address_id
        TIMESTAMP last_update
    }

    FILM ||--o{ FILM_ACTOR : has_actor
    ACTOR ||--o{ FILM_ACTOR : plays_in
    FILM ||--o{ FILM_CATEGORY : has_category
    CATEGORY ||--o{ FILM_CATEGORY : includes_film
    FILM }o--|| LANGUAGE : language
    FILM }o--|| LANGUAGE : original_language
    FILM ||--o{ INVENTORY : available_as
    INVENTORY ||--o{ RENTAL : rented_as
    RENTAL ||--|{ PAYMENT : paid_by
    CUSTOMER ||--o{ RENTAL : makes
    CUSTOMER ||--o{ PAYMENT : executes
    INVENTORY }o--|| STORE : belongs_to
    STORE ||--o{ STAFF : employs
    STAFF ||--o{ RENTAL : manages
    STAFF ||--o{ PAYMENT : processes
    CUSTOMER }o--|| STORE : registered_at
    CUSTOMER }o--|| ADDRESS : lives_at
    STAFF }o--|| ADDRESS : resides_at
    STORE }o--|| ADDRESS : located_at
    ADDRESS }o--|| CITY : in
    CITY }o--|| COUNTRY : in


```


## Requ√™te 1 

```{.sql include="SakilaQuery/queries/top_10_films.sql"}
```

In [ ]:
table_query_results("queries/top_10_films.sql", conn=conn)

## Requ√™te 2 

```{.sql include="SakilaQuery/queries/top_clients.sql"}
```

In [ ]:
table_query_results("queries/top_clients.sql", conn=conn)

## Requ√™te 3

```{.sql include="SakilaQuery/queries/films_by_category.sql"}
```

In [ ]:
table_query_results("queries/films_by_category.sql", conn=conn)

## Requ√™te 4 

```{.sql include="SakilaQuery/queries/payments_by_month.sql"}
```

In [ ]:
table_query_results("queries/payments_by_month.sql", conn=conn)

## Requ√™te 5 

```{.sql include="SakilaQuery/queries/staff_performance.sql"}
```

In [ ]:
table_query_results("queries/staff_performance.sql", conn=conn)

## Requ√™te 6

```{.sql include="SakilaQuery/queries/avg_rental_duration.sql"}
```

In [ ]:
table_query_results("queries/avg_rental_duration.sql", conn=conn)

## Requ√™te 7

```{.sql include="SakilaQuery/queries/popular_films.sql"}
```

In [ ]:
table_query_results("queries/popular_films.sql", conn=conn)

## Requ√™te 8

```{.sql include="SakilaQuery/queries/avg_rental_by_category.sql"}
```

In [ ]:
table_query_results("queries/avg_rental_by_category.sql", conn=conn)

## Requ√™te 9

```{.sql include="SakilaQuery/queries/customer_retention.sql"}
```

In [ ]:
table_query_results("queries/customer_retention.sql", conn=conn)

## Requ√™te 10

```{.sql include="SakilaQuery/queries/top_employee_by_month.sql"}
```

In [ ]:
table_query_results("queries/top_employee_by_month.sql", conn=conn)

## Requ√™te 11 

```{.sql include="SakilaQuery/queries/revenue_per_minute.sql"}
```

In [ ]:
table_query_results("queries/revenue_per_minute.sql", conn=conn)

## Requ√™te 12

```{.sql include="SakilaQuery/queries/films_longer_than_avg.sql"}
```

In [ ]:
table_query_results("queries/films_longer_than_avg.sql", conn=conn)

## Requ√™te 13

```{.sql include="SakilaQuery/queries/rank_in_category.sql"}
```

In [ ]:
table_query_results("queries/rank_in_category.sql", conn=conn)

## Requ√™te 14

```{.sql include="SakilaQuery/queries/rank_in_category.sql"}
```

In [ ]:
table_query_results("queries/rank_in_category.sql", conn=conn)

## Requ√™te 15

```{.sql include="SakilaQuery/queries/inactive_customers.sql"}
```

In [ ]:
table_query_results("queries/inactive_customers.sql", conn=conn)

## Requ√™te 16

```{.sql include="SakilaQuery/queries/payment_conversion.sql"}
```

In [ ]:
table_query_results("queries/payment_conversion.sql", conn=conn)

## Requ√™te 17

```{.sql include="SakilaQuery/queries/customer_total_spent.sql"}
```

In [ ]:
table_query_results("queries/customer_total_spent.sql", conn=conn)